.countries {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  justify-content: space-evenly;
  gap: 3rem;
}

.country {
  width: 240px;

  &__content {
    padding: 1rem;
  }

  &__flag > img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 2/1;
  }
}
