.countries {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  justify-content: space-between;
  gap: 3rem;

  > a {
    color: var(--color-primary);
    text-decoration: none;
  }
}

.country {
  width: 240px;
  background-color: var(--color-secondary);
  border-radius: 0.5rem;
  overflow: auto;

  &__content {
    padding: 1rem;
  }

  &__flag > img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 2/1;
  }
}
