<app-search-and-filter
  (changes)="onFilterChange($event)"
></app-search-and-filter>
<div class="countries">
  <ng-container *ngFor="let country of countries$ | async">
    <a routerLink="detail" [queryParams]="{ country: country.name.common }">
      <div class="country">
        <div class="country__flag">
          <img [src]="country.flags.svg" [alt]="country.flags.alt" />
        </div>
        <div class="country__content">
          <h2 class="country__name">{{ country.name.official }}</h2>
          <p class="country__pop">
            Population: {{ country.population | number : "1.0" : "en-US" }}
          </p>
          <p class="country__region">Region: {{ country.region }}</p>
          <p class="country__captial">Capital: {{ country.capital }}</p>
        </div>
      </div>
    </a>
  </ng-container>
</div>
